<!doctype html>

<html>
<head>
	<title>Assignments</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.css">-->
	<link rel="stylesheet" type="text/css" href="../css/flatly.min.css">
	<link rel="stylesheet" type="text/css" href="../css/amcharts.css">
 	<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
  	<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
  	<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>       
</head>

<body>
	<div class="container">
        {{>navbar}}
		<h1>Add {{course.department}} {{course.number}} Grade</h1>
		<hr>
		<div class="row container-fluid">
			<form id="addAssignmentForm" role="form" method="get" action="/add">
        		<div class="form-group">
          			<label for="type">Type:</label>
          				<select class="form-control" id="typeSelect">
            				<option value="1"></option>
            				{{#each course.syllabus}}
            				<option value="{{this.name}}">{{this.name}}</option>
            				{{/each}}
          				</select>
        		</div>
			    <div class="form-group">
			     	<label for="name">Name:</label>
			      	<input type="text" class="form-control" id="name" placeholder="Ex: RBA" name="name"  required>
			    </div>
		    	<div class="row">
			    	<div class="form-group col-md-2 col-xs-4">
			      		<label for="score">Score:</label>
			      		<input type="text" class="form-control" id="score" placeholder="Ex: 95" name="score" required>
			    	</div>
			    	<div class="form-group col-md-2 col-xs-4">
			      		<label for="total">Out of:</label>
			      		<input type="text" class="form-control" id="total" placeholder="Ex: 100" name="total" required>
			    	</div>
				</div>
		    	<hr>
		    	<div id="{{_id}}">
		    		<button type="submit" id="submitAssignmentBtn" class="btn btn-default col-md-2 col-xs-4 pull-right" ><i class="glyphicon glyphicon-plus"></i> Add</button>
		    	</div>
			</form>
				<button id="backBtn" class="btn btn-default form-group col-md-2 col-xs-4" ><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
				
		
			
		</div>
		
	</div>
	<br><br>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
  	<script src="/js/addAssignment.js"></script>



</body>


</html>
