<!doctype html>

<html>
<head>
	<title>Assignments</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.css">-->
	<link rel="stylesheet" type="text/css" href="css/flatly.min.css">
	<link rel="stylesheet" type="text/css" href="css/amcharts.css">
 	<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
  	<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
  	<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>

	<!-- import plugin script -->
    <script src='Chart.js/Chart.min.js'></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
        {{>navbar}}
		<h1>Add An Assignment</h1>
		<hr>
		<div class="row container-fluid">
			<form id="addAssignmentForm" role="form" method="get" action="/add">
        		<div class="form-group">
          			<label for="Course">Course:</label>
          				<select class="form-control" id="courseSelect">
            				<option value="1"></option>
            				{{#each userData.courses}}
            				<option value="{{this.department}}{{this.number}}">{{this.department}} {{this.number}}: {{this.name}}</option>
            				{{/each}}
          				</select>
        		</div>
        		<div class="form-group" style="display:none;">
          			<label for="Type">Type:</label>
          				<select class="form-control" id="typeSelect">
            				<option value="1"></option>
          				</select>
        		</div>
			    <div class="form-group">
			     	<label for="name">Name:</label>
			      	<input type="text" class="form-control" id="name" placeholder="Ex: RBA" name="name"  required>
			    </div>
		    	<div class="row">
			    	<div class="form-group col-md-2 col-xs-4">
			      		<label for="score">Score:</label>
			      		<input type="text" class="form-control" id="score" placeholder="Ex: 95" name="score" required>
			    	</div>
			    	<div class="form-group col-md-2 col-xs-4">
			      		<label for="total">Out of:</label>
			      		<input type="text" class="form-control" id="total" placeholder="Ex: 100" name="total" required>
			    	</div>
				</div>
		    	<hr>
		    	<button type="submit" id="submitBtn" class="btn btn-default col-md-2 col-xs-4 pull-right" ><i class="glyphicon glyphicon-plus"></i> Add</button>
			</form>
				<button id="backBtn" class="btn btn-default form-group col-md-2 col-xs-4" ><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
				
		
			
		</div>
		
	</div>
	<br><br>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
  	<script src="js/addAssignment.js"></script>



</body>


</html>
