<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">-->
  <link rel="stylesheet" type="text/css" href="../css/flatly.min.css">
  <link rel="stylesheet" type="text/css" href="../css/amcharts.css">
  <link rel="stylesheet" type="text/css" href="../bootstrap3-editable-1.5.1/bootstrap-editable.css" >

  
  

<!-- close head -->
</head>

<body>
  <div id="{{course._id}}" class="container classInfoDiv">
      {{>navbar}}


      <div class="row ">
        <h1 class="col-lg-8 col-md-8 col-xs-6">{{course.department}} {{course.number}}</h1><br>
        
      
 

        

  <!-- Nav tabs -->
<ul class="nav nav-pills pull-right container-fluid">
  <li class="active remakeChartsOnClick"><a href="#progressTab" data-toggle="tab"><i class="glyphicon glyphicon-dashboard "></i></a></li>
  <li ><a href="#listTab" data-toggle="tab"><i class="glyphicon glyphicon-list"></i></a></li>
  <li><a href="#syllabusTab" data-toggle="tab"><i class="glyphicon glyphicon-wrench"></i></a></li>
</ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
  
  <div class="tab-pane active" id="progressTab"> 
    <div class="panel panel-default">  
      <div class="panel panel-body">   
      
        <div class="row ">
          <div class="col-md-8 col-xs-6">
            Here are some helpful charts and progress trends based on the data you've provided!
          </div>
          <div name="{{course._id}}" class="col-md-4 col-xs-6">
            <button id="addAssignmentBtn" class="btn btn-default pull-right showUpOnActivePane"><i class="glyphicon glyphicon-plus"></i> Assignment</button>
          </div>
        </div>
        <hr>
        <ul class="nav nav-pills container-fluid">
          <li class="active remakeChartsOnClick"><a href="#wholeCourseTab" data-toggle="tab">At a glance</a></li>
          <li class="remakeChartsOnClick"><a href="#breakDownTab" data-toggle="tab">Breakdown</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="wholeCourseTab">

            <div class="row">
              <div id="testDonutDiv" class="donutChart col-lg-6 col-md-6 col-xs-12"></div>
            </div><br><br>
            <div class="row">
              <div id="clusterChartDiv" class="donutChart col-lg-6 col-md-6 col-xs-12"></div>
            </div>
          </div>
          <div class="tab-pane" id="breakDownTab">
            {{#each course.syllabus}}
            <div class="row">
              <div class="chartDescriptionDiv col-lg-4 col-md-4 col-xs-12"><h3>Individual {{this.name}} scores:</h3></div><br>
              <div id="{{this.name}}breakdownChart" class="smoothLineChart col-lg-6 col-md-6 col-xs-12"></div>
            </div><br><br>
            {{/each}}
            
          </div> 
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="listTab">
    <div class="panel panel-default">
      <div class="panel panel-body " id="listViewBody">
        <div class="row ">
          <div class="col-md-8 col-xs-6">
            Here are all your assignments so far:
          </div>
          <div name="{{course._id}}" class="col-md-4 col-xs-6">
            <button id="addAssignmentBtn" class="btn btn-default pull-right showUpOnActivePane"><i class="glyphicon glyphicon-plus"></i> Assignment</button>
          </div>
        </div>
        <hr>
        <div>
          <table class="table table-responsive table-bordered table-striped table-condensed">
            <th>Name</th><th>Type</th><th>Score</th><th>Out of</th><th></th>

            {{#each types}}
            <tr id="{{this.name}}">
              <td><a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">{{this.name}}</a></td>
              <td><a href="#" id="typename" data-type="text" data-pk="1" data-url="/post" data-title="Enter username"></a></td>
              <td><a href="#" id="score" data-type="text" data-pk="1" data-url="/post" data-title="Enter username"></a></td>
              <td><a href="#" id="total" data-type="text" data-pk="1" data-url="/post" data-title="Enter username"></a></td>
              <td>
              </td>
            </tr>


            {{#each this.assignments}}
            <tr id="{{this._id}}">
              <td><a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">{{this.name}}</a></td>
              <!--<td><a href="#" id="typename" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">{{this.type.name}}</a></td>-->
              <td><a href="#" id="score" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">{{this.score}}</a></td>
              <td><a href="#" id="total" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">{{this.total}}</a></td>
              <td>
              <div class="btn-group pull-right">
              <button type="button" id="removeButton{{this._id}}" class="btn assignRemoveButton btn-xs btn-default "><span class="glyphicon glyphicon-trash"></span></button>
              </div>
              </td>
            </tr>
            {{/each}}


            {{/each}}
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="syllabusTab">
    <div class="panel panel-default">
      <div class="panel panel-body " id="syllabusViewBody">
        <div class="row">
          <div class="col-md-8 col-xs-6">
            Below is the course syllabus we're basing our calculations on. Click any field to edit!
          </div>
          <div name="{{course._id}}" class="col-md-4 col-xs-6">
            <button id="addAssignmentBtn" class="btn btn-default pull-right showUpOnActivePane"><i class="glyphicon glyphicon-plus"></i> Assignment</button>
          </div>
        </div>
        <hr>
        <div id="successMessageDiv" class="text-success"></div>

        <div>
          <table id="syllabusTable" class="table table-responsive table-bordered table-striped">
            <th><h4><b>Type</b></h4></th><th><h4><b>Weight (% of final grade)</b></h4></th><th><h4><b></b></h4></th>
            {{#each course.syllabus}}
            <tr class="tableEntry" id="{{this._id}}">
              <td class="row"><a href="#" id="{{this.name}}" data-params="{{this._id}}" data-url = "/post" class = "editable editable-click editable-unsaved typeName col-md-4">{{this.name}}</a>
              </td>
              <td><a href="#" id="{{this.name}}Weight" data-params="{{this._id}}" data-url = "/post" class = "weightNumber col-md-4 editable editable-click editable-unsaved">{{this.weighting}}</a></td>
              <td>  
              <div class="btn-group">
              <button type="button" id="removeButton{{this._id}}" class="btn typeRemoveButton btn-xs btn-default "><span class="glyphicon glyphicon-trash"></span></button>
              </div>
              </td>

            </tr>
            {{/each}}
          </table>

        <div id="profs"> 
          <form id="addAssignmentTypes" role="form" >
                      <div id="field" class="input-append row">
                        <div id="field1" class="col-xs-9 col-md-4"><br>
                          <div class="row">
                                <div class="col-md-6 col-xs-6"> 
                                    <input autocomplete="off" placeholder="Ex: 'Exam'" class="form-control col-xs-4 col-md-4 typeInput" name="type1" type="text">
                                  </div> 
                                <div class="col-md-6 col-xs-6">
                                    <input autocomplete="off" placeholder="Ex: 60" class="form-control col-xs-4 col-md-4 weightInput" name="weighting1" type="text">
                                  </div>
                                <div class="col-md-6 col-xs-6">                                 
                                    <input autocomplete="off" class="hidden form-control" name="courseId" id="courseId" type="hidden" value="{{course._id}}"/>
                                  </div>
                            </div>
                        </div>
                      </div>

                      <br>
            <div class="row container-fluid"> 
              
              <button id="b1" class="btn btn-default add-more col-md-3 col-xs-4"  type="button"><i class="glyphicon glyphicon-plus"></i> Type</button></input>
              
            
              <button type="submit" id="submitBtn" class="btn btn-default pull-right col-md-2 col-lg-2 col-xs-4" ><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
            </div>
          </form>

        </div>
        </div>
            
    </div>
    </div>
  </div>

</div>
  
  <script src="/js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/bootstrap3-editable-1.5.1/bootstrap-editable.js"></script>
  <script src="/js/viewAssignments.js"></script>
  <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
  <script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
  <script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
  <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>


</body>
</html>
