<!doctype html>

<html>
<head>
	<title>Assignments</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/simplex.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		{{>navbar}}
		<h1><b>Configure Course Syllabus</b></h1>
		<hr>
		
		<div class="panel panel-default">
			<div class="panel panel-body" id="allFields">
				<p>so this is where you should add types of homework and stuff!</p>
				<small>Press + to add more</small>

            	<div class="row" id="profs"> 
	                <form class="input-append" role="form" method="post" action="/editCourse">
	                    <div id="field" class="input-append col-md-4">
	                    	<input autocomplete="off" class="form-control" id="field1" name="prof1" type="text" placeholder="Type something" data-items="8" required/>

	                    	<button id="b1" class="btn btn-default add-more input-group-button col-md-2" type="button"><i class="glyphicon glyphicon-plus"></i></button>
	                    </div>


	                    <input autocomplete="off" class="form-control hidden" id="numFields" name="numFields" type="hidden" value="1" placeholder="Type something"/>
	                    <div class="row">
			    			<button type="submit" id="submitBtn" class="btn btn-default " >Add types <i class="glyphicon glyphicon-plus"></i></button>
			    		</div>

	                </form>

        		</div>
        		
    </div>
		</div>
		
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Assignments</div>
		<table class="table">
			<th>Name</th><th>Type</th><th>Score</th><th>Out of</th>
		{{#each assignments}}
			<tr id="{{name}}" class="hci-friend">
				<td>{{name}}</td>
				<td>{{type}}</td>
				<td>{{score}}</td>
				<td>{{total}}</td>
			</tr>
		{{/each}}
	</table>
</div>


		<form id="addCourseForm" role="form" method="get" action="/addCourse">
			<h3>Add a course</h3>
		    <div class="form-group">
		      <label for="department">Department:</label>
		      <input type="text" class="form-control" id="department" placeholder="Ex: CS" name="department">
		    </div>
		    <div class="form-group">
		      <label for="number">Number:</label>
		      <input type="text" class="form-control" id="number" placeholder="Ex: 106A" name="number">
		    </div>
		    <input type="submit" id="submitBtn" class="btn btn-default" value="Add"></input>
		</form>
		<hr>
	</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/editSyllabus.js"></script>
	<script src="js/common.js"></script>


</body>


</html>
