<!doctype html>

<html>
<head>
	<title>QuickCalc - {{user}}</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="/css/flatly.min.css">
	
  
  <script src="/js/amcharts.js"></script>
  

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		{{>navbar}}
		<h1>Quarter Overview</h1>
		<hr>
		
	   <div id="chartdiv"></div>   
		

		<!-- THIS IS WHERE THE PANEL LIST GROUP IS -->
		<div class="panel panel-default">
  		<!-- Default panel contents -->
  			<div class="panel-heading">All Courses</div>
  			<!-- List group -->
  			<ul class="list-group">
				{{#each userData.courses}}
					<li id="{{_id}}" class="list-group-item">
            			<div class="row" id="classDiv{{_id}}">
            				<div class="col-xs-8">
								<a href="course/{{_id}}">
									{{this.department}} {{this.number}}: {{this.name}}
								</a>
							</div>
							<div class="col-xs-4">
								<div class="btn-group pull-right">
									<!--<button type="button" id="viewButton{{department}}{{number}}" class="btn syllabusButton btn-xs btn-default "><span class="glyphicon glyphicon-info-sign"></span></button>
									<button type="button" id="editButton{{department}}{{number}}" class="btn editButton btn-xs btn-default "><span class="glyphicon glyphicon-wrench"></span></button>-->
									<button type="button" id="removeButton{{department}}{{number}}" class="btn removeButton btn-xs btn-default "><span class="glyphicon glyphicon-trash"></span></button>
								</div>
							</div>
						</div>
					</li>
				{{/each}}
				{{#if hasCourses}}
				{{else}}
					<li class="list-group-item">Sorry, you haven't added any courses yet!</li>
				{{/if}}
  			</ul>

        <div id="showMe"></div>
		</div>
		<hr>
		<div><button id="addCourseButton" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Course</button></div>
    <br>
    <br>


		
      {{#if expand}}
      <div id="chartContainer" style="height: 300px; width: 100%;">
      </div>
      <br>
		<div class="panel panel-default">
		  <div class="panel-heading">Assignments</div>
		  <table class="table">
		    <th>Name</th><th>Type</th><th>Score</th><th>Out of</th>
		{{#each userData.assignments}}
			<tr id="{{name}}">
				<td>{{name}}</td>
				<td>{{type}}</td>
				<td>{{score}}</td>
				<td>{{total}}</td>
			</tr>
		{{/each}}
		  </table>
		</div>
    {{/if}}
	
    <br><br>
  </div>

	
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/index.js"></script>

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48674603-1', 'wimassignment5.herokuapp.com');
  ga('send', 'pageview');

</script>

</body>


</html>
