<!doctype html>

<html>
<head>
	<title>Quick Calc</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/simplex.min.css">
	<script src='/canvasjs-1.3.0/canvasjs.min.js'></script>
  <!--
	<script type="text/javascript">
  		window.onload = function () {
			var chart1 = new CanvasJS.Chart("chartContainer",
    		{
      		title:{
          	text: "Overview of Courses."
			    },
      		data:[
      		{
        		type: "stackedBar100",
        		showInLegend: true,
        		name: "Assignments",
        		dataPoints: [
        		{y: 40, label: "Course 1" },
        		{y: 50, label: "Course 2" },
        		{y: 120, label: "Course 3" },
        		{y: 250, label: "Course 4" },
        		{y: 350, label: "Course 5" }
        		]
      		},
       		{
        		type: "stackedBar100",
        		showInLegend: true,
        		name: "Midterm(s)",
        		dataPoints: [
        			{y: 20, label: "Course 1" },
        			{y: 20, label: "Course 2" },
        			{y: 220, label: "Course 3" },
        			{y: 474, label: "Course 4" },
        			{y: 450, label: "Course 5" }
        		]
      		},
      		{
        		type: "stackedBar100",
        		showInLegend: true,
        		name: "Final",
        		dataPoints: [
        			{y: 40, label: "Course 1" },
        			{y: 20, label: "Course 2" },
        			{y: 220, label: "Course 3" },
        			{y: 474, label: "Course 4" },
        			{y: 450, label: "Course 5" }
				  ]
      		},
      		{
        		type: "stackedBar100",
        		showInLegend: true,
        		name: "Participation",
        		dataPoints: [
        			{y: 0, label: "Course 1" },
        			{y: 10, label: "Course 2" },
        			{y: 75, label: "Course 3" },
        			{y: 310, label: "Course 4" },
        			{y: 340, label: "Course 5" }
        		]
      		}
			  ]
			});
			chart1.render();
    }
			</script> -->
		<script type="text/javascript" src="canvasjs-1.3.0/canvasjs.min.js"></script>  

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		{{>navbar}}
		<h1>Quarter Overview</h1>
		<hr>

		
	
		

		<!-- THIS IS WHERE THE PANEL LIST GROUP IS -->
		<div class="panel panel-default">
  		<!-- Default panel contents -->
  			<div class="panel-heading">All Courses</div>
  			<!-- List group -->
  			<ul class="list-group">
				{{#each courses}}
					<li id="{{department}}{{number}}" class="list-group-item">
            
						<a href="course/{{department}}{{number}}">
							{{department}} {{number}}
						</a>
						<button id="viewButton{{department}}{{number}}" class="btn courseButton btn-xs btn-default pull-right ">More</button>
						
					</li>
				{{/each}}
  			</ul>

        <div id="showMe"></div>
		</div>
		<hr>
		<div><button id="addCourseButton" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Add Course</button></div>
		<div id="chartContainer" style="height: 300px; width: 100%;">
  		</div>
		

		<!-- THE ASSIGNMENT TABLE [START] 
		<div class="panel panel-default">
		  <! Default panel contents 
		  <div class="panel-heading">Assignments</div>

		  <! Table 
		  <table class="table">
		    <th>Name</th><th>Type</th><th>Score</th><th>Out of</th>
		{{#each assignments}}
			<tr id="{{name}}">
				<td>{{name}}</td>
				<td>{{type}}</td>
				<td>{{score}}</td>
				<td>{{total}}</td>
			</tr>
		{{/each}}
		  </table>
		</div>
		- assignment table [end] -->

		
	</div>
	
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/index.js"></script>

</body>


</html>
