<!doctype html>

<html>
<head>
	<title>Quick Calc</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/simplex.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		{{>navbar}}
		<h1><b>Quarter Overview</b></h1>
		<hr>

		
	<div>
		

		<!-- THIS IS WHERE THE PANEL LIST GROUP IS -->
		<div class="panel panel-default">
  		<!-- Default panel contents -->
  			<div class="panel-heading">Courses</div>
  			<!-- List group -->
  			<ul class="list-group">
				{{#each courses}}
					<li id="{{name}}" class="list-group-item">{{department}} {{number}}</li>
				{{/each}}
  			</ul>
		</div>

		<button id="addCourseButton" class="btn btn-default">Add A Course</button>

		<!-- THE ASSIGNMENT TABLE [START] 
		<div class="panel panel-default">
		  <! Default panel contents 
		  <div class="panel-heading">Assignments</div>

		  <! Table 
		  <table class="table">
		    <th>Name</th><th>Type</th><th>Score</th><th>Out of</th>
		{{#each assignments}}
			<tr id="{{name}}">
				<td>{{name}}</td>
				<td>{{type}}</td>
				<td>{{score}}</td>
				<td>{{total}}</td>
			</tr>
		{{/each}}
		  </table>
		</div>
		- assignment table [end] -->

		<hr>
	</div>
	
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/index.js"></script>

</body>


</html>
