<!doctype html>

<html>
<head>
	<title>Assignments</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/flatly.min.css">
  <link rel="stylesheet" type="text/css" href="css/amcharts.css">
  <script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
  <script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
  <script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>

<!-- close head -->
</head>

<body>
	<div class="container">
      {{>navbar}}
      <div class="row container-fluid">
		    <h1 class="col-md-10 col-xs-8">Assignments</h1>
        <div class="col-md-2 col-xs-4">
        <br>
        <button id="addAssignmentBtn" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Add</button>
      </div>
  </div>
  <hr>


  <!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#progressTab" data-toggle="tab">Progress</a></li>
  <li ><a href="#listTab" data-toggle="tab">List View</a></li>
  <li><a href="#syllabusTab" data-toggle="tab">Syllabus</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="progressTab"> 
    <div class="panel panel-default">  
      <div class="panel panel-body">   
        Here are some trends regarding your [types of homework for this class!]

      </div>
    

    <br><br>
    <div id="testLine" class="smoothLineChart"></div><br><br><br><br>
    <div id="allAssignmentsChartDiv" class="stackedChart"></div>
    </div>
  </div>

  <div class="tab-pane" id="listTab"> 
    
    <div class="panel panel-default">
      <div class="panel panel-body " id="allFields">
        Here are all your assignments so far:
      
      <table class="table">
        <th>Name</th><th>Type</th><th>Score</th><th>Out of</th>
        {{#each assignments}}
        <tr id="{{name}}">
          <td>{{name}}</td>
          <td>{{type}}</td>
          <td>{{score}}</td>
          <td>{{total}}</td>
        </tr>
        {{/each}}
      </table>
      </div>
    </div>

    

  </div>

  <div class="tab-pane" id="syllabusTab">

    <div class="panel panel-default">
      <div class="panel panel-body " id="allFields">
        <p>Here is your current syllabus:</p>
        <p>This is where you configure your syllabus. Enter the types of assignments you will complete throughout the quarter, as well as their weighting. If you have <b>problem sets</b> 
          that are <b>25%</b> of your grade, enter "Problem Sets" and "25"</p>
              <div id="profs"> 
                  <form id="addAssignmentTypes" role="form" method="post" action="/editCourse">

                      <div id="field" class="input-append row">
                        <div id="field1" class="col-xs-9 col-md-4"><br>
                          
                          <div class="row">
                                <div class="col-md-6 col-xs-6"> 
                                    <input autocomplete="off" placeholder="Ex: 'Homework'" class="form-control col-xs-4 col-md-4" name="type1" type="text">
                                  </div> 
                                <div class="col-md-6 col-xs-6">
                                    <input autocomplete="off" placeholder="Ex: 25" class="form-control col-xs-4 col-md-4" name="weighting1" type="text">
                                  </div>
                              </div>

                        </div>
                      </div>

                      <br>
                      <button id="b1" class="btn btn-default add-more" type="button"><i class="glyphicon glyphicon-plus"></i> Add another type</button></input>

                      <input autocomplete="off" class="hidden" id="numFields" type="hidden" value="1"/>

                      <br><br>
                      
                      <div>
                <button type="submit" id="submitBtn" class="btn btn-default pull-right col-md-2 col-lg-2 col-xs-12" ><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
              </div>

                  </form>

            </div>
            
    </div>
    </div>
    


  </div>
</div>
	</div>

  
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
  <script src="js/addAssignment.js"></script>


</body>


</html>
