<!doctype html>

<html>
<head>
	<title>Assignments</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/simplex.min.css">

	<!-- import plugin script -->
    <script src='Chart.js/Chart.min.js'></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
        {{>navbar}}
		<h1>Assignment</h1>
		<hr>
		

		<table class="table">
			<th>Name</th><th>Type</th><th>Score</th><th>Out of</th>
		{{#each assignments}}
			<tr id="{{name}}" class="hci-friend">
				<td>{{name}}</td>
				<td>{{type}}</td>
				<td>{{score}}</td>
				<td>{{total}}</td>
			</tr>
		{{/each}}
	</table>
	<div class="container">
		<!-- line chart canvas element -->
        <canvas id="buyers" width="600" height="400"></canvas>
        <!-- pie chart canvas element -->
        <canvas id="countries" width="600" height="400"></canvas>
        <script>
            // pie chart data
            var pieData = [
                {
                    value: 20,
                    label:"Midterm",
                    color:"#878BB6"
                },
                {
                    value : 40,
                    color : "#4ACAB4"
                },
                {
                    value : 10,
                    color : "#FF8153"
                },
                {
                    value : 30,
                    color : "#FFEA88"
                }
            ];
            // pie chart options
            var pieOptions = {
                 segmentShowStroke : false,
                 animateScale : true
            }
            // get pie chart canvas
            var countries= document.getElementById("countries").getContext("2d");
            // line chart data
            var buyerData = {
                labels : ["PSet 1","PSet 2","PSet 3","PSet 4"],
                datasets : [
                {
                    fillColor : "rgba(172,194,132,0.4)",
                    strokeColor : "#ACC26D",
                    pointColor : "#fff",
                    scaleStartValue : 0,
                    pointStrokeColor : "#9DB86D",
                    data : [40,57,50,40]
                }
            ]
            }
            // get line chart canvas
            var buyers = document.getElementById('buyers').getContext('2d');
            // draw line chart
            new Chart(buyers).Line(buyerData);
            // draw pie chart
            new Chart(countries).Pie(pieData, pieOptions);
            // bar chart data
            var barData = {
                labels : ["January","February","March","April","May","June"],
                datasets : [
                    {
                        fillColor : "#48A497",
                        strokeColor : "#48A4D1",
                        data : [456,479,324,569,702,600]
                    },
                    {
                        fillColor : "rgba(73,188,170,0.4)",
                        strokeColor : "rgba(72,174,209,0.4)",
                        data : [364,504,605,400,345,320]
                    }
                ]
            }
            // get bar chart canvas
            var income = document.getElementById("income").getContext("2d");
            // draw bar chart
            new Chart(income).Bar(barData);
        </script>
	</div>

		<form id="addAssignmentForm" role="form" method="get" action="/add">
			<h3>Add an assignment</h3>
		    <div class="form-group">
		      <label for="name">Name:</label>
		      <input type="text" class="form-control" id="name" placeholder="Ex: RBA" name="name">
		    </div>
		    <div class="form-group">
		      <label for="type">Type:</label>
		      <input type="text" class="form-control" id="type" placeholder="Ex: Paper" name="type">
		    </div>
		    <div class="form-group">
		      <label for="score">Score:</label>
		      <input type="text" class="form-control" id="score" placeholder="Ex: 95" name="score">
		    </div>
		    <div class="form-group">
		      <label for="total">Out of:</label>
		      <input type="text" class="form-control" id="total" placeholder="Ex: 100" name="total">
		    </div>
		    <input type="submit" id="submitBtn" class="btn btn-default" value="Add"></input>
		</form>
		<hr>
	</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>


</body>


</html>
